<footer class="footer">
    <div class="footer__content">
        <a class="footer__text gradient-text" href="https://en.wikipedia.org/wiki/Whac-A-Mole" target="_blank"
            rel="noopener noreferrer">Inspired by classic game
            Whack-A-Mole</a>
    </div>
</footer>
</body>

</html>