<footer class="footer">
    <div class="footer__content">
        <p class="gradient-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, aliquid
            velit explicabo natus incidunt eveniet.
        </p>
    </div>
</footer>
</body>

</html>