<header class="header hidden">
    <div class="header__content">
        <h1 class="header__title gradient-text">Whackerston</h1>
        <!-- <button id="header__back" class="btn-main hidden">Back</button> -->
    </div>
</header>