<header class="header">
    <div class="header__content">
        <h1 class="gradient-text">Whack-A-Mole</h1>
        <button id="header__back" class="btn-main hidden">Back</button>
    </div>
</header>