<header class="header">
    <div class="header__content">
        <h1 class="header__title gradient-text">Whackerston</h1>
        <!-- <h4 class="header__subtitle gradient-text">Inspired by whack-a-mole</h4> -->
        <button id="header__back" class="btn-main hidden">Back</button>
    </div>
</header>