<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/header.ejs') %>
            <section class="500">
                <h1 class="gradient-text">500 - Server Error!</h1>
                <p class="gradient-text">We're working on fixing this, sorry for the inconvenience!</p>
            </section>

            <%- include('includes/end.ejs') %>