<%- include('includes/head.ejs') %>
    <script defer type="module" src="./js/app.js"></script>
    </head>
    <main>
        <section>Admin page</section>
    </main>

    <body>
        <%- include('includes/end.ejs') %>