<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whack-A-Mole</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <script type="module" defer src="./js/app.js"></script>
</head>

<body>
    <div class="backdrop hidden"></div>
    <div class="modal modal--cancel hidden">
        <h3 class="modal__title">Cancel and go back?</h3>
        <div class="modal__actions">
            <button class="btn-main modal__action modal__action--cancel">Yes!</button>
            <button class="btn-main modal__action modal__action--resume" type="button">No!</button>
        </div>
    </div>
    <div class="modal modal--results hidden">
        <div class="results__game">
            <div class="result__game">
                <h4>Whacks</h4><span id="result__whacks">0</span>
            </div>
            <div class="result__game">
                <h4>Points</h4><span id="result__points">0</span>
            </div>
        </div>
        <div class="modal__actions">
            <button class="btn-main modal__action modal__action--submit">Submit score</button>
            <button class="btn-main modal__action modal__action--new-game" type="button">New game</button>
        </div>
    </div>
    <header class="main-header">
        <h1 class="gradient-text">Whack-A-Mole</h1>
        <button id="game-back" class="btn-main">Back</button>
    </header>
    <main>
        <section class="join">
            <form action="#">
                <span class="input-container">
                    <input class="name-input" type="text" name="name" placeholder="Your warrior name" value="Whacker" />
                    <span></span>
                </span>
            </form>
            <div class="join-options">
                <div class="join-options__cat join-modes">
                    <a data-mode="survival" class="btn-main join-option join-mode">Survival</a>
                    <a data-mode="battle" class="btn-main btn-main__active join-option join-mode">Battle</a>
                </div>
                <div class="join-options__cat join-diffs">
                    <a data-difficulty="easy" class="btn-main btn-main__active join-option join-diff">Easy</a>
                    <a data-difficulty="hard" class="btn-main join-option join-diff">Hard</a>
                </div>
            </div>
            <button type="button" class="btn-main btn-start-game">Start</button>
        </section>
        <section class="game hidden">
            <div class="game__score-board">
                <h4>Current score: <span id="current-score">0</span></h4>
                <h4 id="battle-label" class="hidden">Time: <span id="remaining-time">60</span></h4>
                <h4 id="survival-label" class="hidden">Lives: <span id="remaining-lives">3</span></h4>
            </div>
            <div class="game__grid gradient-text">
                <div id="sq1" class="game__square card"></div>
                <div id="sq2" class="game__square card"></div>
                <div id="sq3" class="game__square card"></div>
                <div id="sq4" class="game__square card"></div>
                <div id="sq5" class="game__square card"></div>
                <div id="sq6" class="game__square card"></div>
                <div id="sq7" class="game__square card"></div>
                <div id="sq8" class="game__square card"></div>
                <div id="sq9" class="game__square card"></div>
            </div>
        </section>
        <section class="results hidden">
            <div class="results__leaderboard">
                <ul class="results__players">
                    <!-- <li class="results__player">Mike</li>
                    <li class="results__player">John</li>
                    <li class="results__player">Penny</li>
                    <li class="results__player">Julia</li>
                    <li class="results__player">Ale</li>
                    <li class="results__player">Leo</li>
                    <li class="results__player">Roby</li>
                    <li class="results__player">Tupac</li>
                    <li class="results__player">Eminem</li>
                    <li class="results__player">Iohannis</li> -->
                </ul>
            </div>
        </section>
    </main>
    <footer class="main-footer gradient-text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, aliquid
            velit explicabo natus incidunt eveniet.
        </p>
    </footer>
</body>

</html>