.footer {
  .footer__content {
    width: 21rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .footer__text {
      text-decoration: none;
      padding: 1rem 0;
    }
  }
}
