@import '_variables.scss';
@import '_animations.scss';

.game__scoreboard {
  display: flex;
  justify-content: space-around;
}

.game__grid {
  height: 100%;
  list-style: none;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5%;
  margin: 1rem;
  justify-content: center;
  align-content: center;
}

.game__square {
  background: map-get($colors, secondary);
  padding-top: 100%;
}
