@import '_variables.scss';
@import '_animations.scss';

.game__scoreboard {
  margin: 1rem;
  margin-bottom: 2rem;
  padding: 0.2rem;
  display: grid;
  height: 25%;
  grid-template: 1.5fr 1fr / 1fr 1fr 1fr;
  grid-template-areas:
    'whacks multiplier resources'
    'tiles tiles tiles';
  gap: 5%;
  justify-items: center;
  align-items: center;

  .scoreboard__group {
    width: 85%;
    height: 85%;

    .label {
      font-size: 0.8rem;
    }
    .value {
      font-size: 1.2rem;
    }

    i::before {
      margin-left: 0;
      font-size: 1.8rem;
    }

    &.whacks,
    &.multiplier,
    &.resources,
    &.resources > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &.whacks {
      grid-area: whacks;
    }
    &.multiplier {
      grid-area: multiplier;
    }
    &.resources {
      grid-area: resources;
    }
    &.tiles {
      grid-area: tiles;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .tile {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.game__grid {
  // height: 60%;
  list-style: none;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5%;
  margin: 1rem;
  justify-content: center;
  align-content: center;
}

.game__square {
  background: map-get($colors, secondary);
  padding-top: 100%;
}
