.header {
  .header__content {
    width: 21rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    h1 {
      text-align: center;
    }

    #header__back {
      align-self: flex-start;
    }
  }
}
