.header {
  .header__content {
    width: 21rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .header__title {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 0;
    }
  }
}

.header-main {
  display: flex;
  flex-flow: column;
  align-items: center;

  .header-main__content {
    width: 21rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  #btn__back {
    align-self: flex-start;
  }
}
