.results {
  .section__content {
    .results__players {
      list-style: none;
      padding: 0;

      .results__player {
        padding: 0.5rem;
        border: 1px solid map-get($colors, main);
        display: grid;
        grid-template: 1fr 1fr / 1fr 2fr 1fr;
        grid-template-areas:
          'rank player-name mode'
          'rank points difficulty';
        justify-items: start;
        align-items: center;

        .results__player--rank {
          grid-area: rank;
        }
        .results__player--name {
          grid-area: player-name;
        }
        .results__player--points {
          grid-area: points;
        }
        .results__player--mode {
          grid-area: mode;
        }
        .results__player--difficulty {
          grid-area: difficulty;
        }
      }
    }
  }
}
