@import '_variables.scss';
@import '_animations.scss';

* {
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
}

.gradient-text {
  background-color: map-get($colors, main);
  background-image: linear-gradient(
    45deg,
    map-get($colors, main),
    map-get($colors, secondary)
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hidden {
  display: none !important;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card-tiny {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.active {
  background-color: map-get($colors, main);
}

.wiggle {
  animation: wiggle 0.3s linear;
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.btn-main {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 99rem;
  margin: 0.1rem;
  background: linear-gradient(
    21deg,
    map-get($colors, main),
    map-get($colors, secondary)
  );
  text-align: center;
  color: white;
  cursor: pointer;
  transform: scale(0.9);
  will-change: transform, box-shadow;
  transition: transform 0.3s map-get($timing-function, ease-in),
    box-shadow 0.3s map-get($timing-function, ease-in);

  &.btn-main__active {
    transform: scale(1);
    box-shadow: 1px -1px 7px map-get($colors, secondary),
      -1px 1px 7px map-get($colors, main);
  }

  &.btn-main__inactive {
    background: linear-gradient(
      21deg,
      lighten(map-get($colors, main), 20%),
      lighten(map-get($colors, secondary), 20%)
    );
  }
}

#btn__back::before {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.8rem;
}

section {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;

  .section__content {
    width: 21rem;
    height: 100%;
  }
}

.backdrop {
  position: fixed;
  z-index: 10;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  will-change: opacity;
  transition: opacity map-get($duration-modal, exit)
    map-get($timing-function, ease-in);

  &.visible {
    opacity: 1;
    transition: opacity map-get($duration-modal, enter)
      map-get($timing-function, ease-out);
  }
}

.modal {
  position: fixed;
  z-index: 20;
  transform: translateX(-200%);
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  will-change: transform;
  transition: transform map-get($duration-modal, exit)
    map-get($timing-function, ease-in);

  &.visible {
    transform: translate(0%);
    transition: transform map-get($duration-modal, enter)
      map-get($timing-function, ease-out);
  }
}
